<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title" style="background-color: rgb(172, 172, 5);">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title" style="color: white;">Add User</h4>
            </div>
        </div>
        <div class="form" style="max-width: 700px;">
            <form class="form-validate form-horizontal" id="feedback_form" name="myForm" ng-submit="createUser(user)">
                <div class="form-group">
                    <label style="color: seagreen" for="name" class="control-label col-lg-2">Name
                        <span class="required">*</span></label>
                    <div class="col-lg-10">
                        <input ng-model="user.name" class="form-control" id="name" name="name" type="text" required />
                        <span class="text-danger" ng-show="myForm.name.$touched && myForm.name.$error.required">Name is
                            required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label style="color: seagreen" for="name" class="control-label col-lg-2">Email</label>
                    <span class="required">*</span></label>
                    <div class="col-lg-10">
                        <input ng-model="user.email" class="form-control" id="email" name="email" type="text"
                            required />
                        <span class="text-danger" ng-show="myForm.name.$touched && myForm.email.$error.required">Email
                            is
                            required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label style="color: seagreen" for="name" class="control-label col-lg-2">Password</label>
                    <span class="required">*</span></label>
                    <div class="col-lg-10">
                        <input ng-model="user.password" class="form-control" id="password" name="password"
                            type="password" required />
                        <span class="text-danger"
                            ng-show="myForm.name.$touched && myForm.password.$error.required">Password
                            is
                            required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label style="color: seagreen" for="name" class="control-label col-lg-2">Confirm
                        Password</label>
                    <span class="required">*</span></label>
                    <div class="col-lg-10">
                        <input ng-model="user.confirmpassword" class="form-control" id="confirmpassword"
                            name="confirmpassword" type="password" required />
                        <span class="text-danger" ng-show="myForm.name.$touched && myForm.cpass.$error.required">Confirm
                            Password is
                            required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label style="color: seagreen" for="name" class="control-label col-lg-2">Salary</label>
                    <span class="required">*</span></label>
                    <div class="col-lg-10">
                        <input ng-model="user.salary" class="form-control" id="salary" name="salary" type="salary"
                            required />
                        <span class="text-danger" ng-show="myForm.name.$touched && myForm.salary.$error.required">Salary
                            is
                            required.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label style="color: seagreen" for="department" class="control-label col-lg-2">Department
                        <span class="required">*</span></label>
                    <div class="col-lg-10">
                        <select name="dept" ng-model="user.dept" ng-options="dept for dept in depts track by dept"
                            class="form-control form-control-line" required></select>
                    </div>
                </div>
                <span>{{passError}}</span>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button class="btn btn-primary" type="submit">
                            Add User
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.container-fluid -->
        <footer class="footer text-center">2021 &copy; InraBd</footer>
    </div>