<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav slimscrollsidebar" style="background-color: rgb(42, 52, 73); padding-bottom: 60px;">
    <div class="sidebar-head" style="background-color: rgb(36, 4, 73);">
      <h3>
        <span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span>
        <span class="hide-menu" style="color: goldenrod;">Singularity Limited</span>
      </h3>
    </div>
    <ul class="nav" id="side-menu">
      <li style="padding: 120px 0 0">
        <a href="#!User" class="waves-effect" style="font-size:20px ; color: white;"><i class="fa fa-home"
            aria-hidden="true"></i> User
          Home</a>
      </li>
      <li style="padding: 70px 0 0">
        <a href="#!AddProduct" class="waves-effect" style="font-size:20px ; color: white;"><i class="fa fa-user-plus"
            aria-hidden="true"></i> Add
          Product</a>
      </li>
      <li style="padding: 70px 0 0">
        <a href="#!ViewProducts" class="waves-effect" style="font-size:20px ; color: white;"><i class="fa fa-users"
            aria-hidden="true"></i> View
          products</a>
      </li>
      <li style="padding: 70px 0 0">
        <a href="#!ProductTrash" class="waves-effect" style="font-size:20px ; color: white;"><i class="fa fa-trash-o"
            aria-hidden="true"></i> View
          Trash</a>
      </li>
      <li style="padding: 70px 0 0">
        <a href="#!logout" class="waves-effect" style="font-size:20px ; color: white;"><i class="fa fa-sign-out"
            aria-hidden="true"></i> Logout</a>
      </li>
    </ul>
  </div>
</div>